openapi: 3.0.2
info:
  version: 1.0.0
  title: Datamonkey API
  contact:
    email: spond@temple.edu
    url: 'http://github.com/veg/api-datamonkey'
  x-logo:
    # TODO: figure why the local svg didnt work
    url: 'https://raw.githubusercontent.com/veg/datamonkey-js/refs/heads/master/public/assets/img/header-logo.svg'
    altText: Datamonkey.org logo
    #href: 'https://datamonkey.org'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  description: >
    Datamonkey is a free public server for comparative analysis of sequence alignments using state-of-the-art statistical models.
    <br>
    This is the OpenAPI definition for the Datamonkey API.
externalDocs:
  description: Use Datamonkey today!
  url: 'https://datamonkey.org'
tags:
  - name: FEL
    description: Examples starting jobs and fetching results for FEL
  - name: BUSTED
    description: Examples starting jobs and fetching results for BUSTED
  - name: ABSREL
    description: Examples starting jobs and fetching results for ABSREL
  - name: File Upload and QC
    description: Examples uploading files to Datamonkey
  - name: Health
    description: Check health of Datamonkey server
  - name: Codon Aware Alignments
    description: Examples building codon-aware alignments from uploaded data. Somewhere over the rainbow..
  - name: Tree Building
    description: Examples building phylogenetic trees from uploaded data. Somewhere over the rainbow..
servers:
  - url: 'http://datamonkey.org/api/v1'
  - url: 'https://datamonkey.org/api/v1'
parameters:
  - name: method
    in: path
    description: The name of the HyPhy method
    required: true
    schema:
      type: string
paths:
  /health:
    $ref: paths/health.yaml
  /methods/fel-start:
    $ref: paths/methods/fel/fel-start-job.yaml
  /methods/fel-result:
    $ref: paths/methods/fel/fel-results.yaml
  /methods/busted-start:
    $ref: paths/methods/busted/busted-start-job.yaml
  /methods/busted-result:
    $ref: paths/methods/busted/busted-results.yaml
  /methods/absrel-start:
    $ref: paths/methods/absrel/absrel-start-job.yaml
  /methods/absrel-result:
    $ref: paths/methods/absrel/absrel-results.yaml
  /methods/meme-start:
    $ref: paths/methods/meme/meme-start-job.yaml
  /methods/meme-result:
    $ref: paths/methods/meme/meme-results.yaml
  /methods/relax-start:
    $ref: paths/methods/relax/relax-start-job.yaml
  /methods/relax-result:
    $ref: paths/methods/relax/relax-results.yaml
  /methods/gard-start:
    $ref: paths/methods/gard/gard-start-job.yaml
  /methods/gard-result:
    $ref: paths/methods/gard/gard-results.yaml
  /methods/bgm-start:
    $ref: paths/methods/bgm/bgm-start-job.yaml
  /methods/bgm-result:
    $ref: paths/methods/bgm/bgm-results.yaml
  /methods/contrast-fel-start:
    $ref: paths/methods/contrast-fel/contrast-fel-start-job.yaml
  /methods/contrast-fel-result:
    $ref: paths/methods/contrast-fel/contrast-fel-results.yaml
  /methods/fubar-start:
    $ref: paths/methods/fubar/fubar-start-job.yaml
  /methods/fubar-result:
    $ref: paths/methods/fubar/fubar-results.yaml
  /methods/multihit-start:
    $ref: paths/methods/multihit/multihit-start-job.yaml
  /methods/multihit-result:
    $ref: paths/methods/multihit/multihit-results.yaml
  /datasets:
    $ref: paths/datasets.yaml
  #/datasets/qc:
  #  $ref: paths/datasets/qc.yaml
  #'/align/{aligner}':
  #  $ref: paths/align/{aligner}.yaml
  #'/tree/{tree_tool}':
  #  $ref: paths/tree/{tree_tool}.yaml
