openapi: 3.0.2
info:
  version: 1.0.0
  title: Datamonkey API
  contact:
    email: spond@temple.edu
    url: 'http://github.com/veg/api-datamonkey'
  x-logo:
    # TODO: figure why the local svg didnt work
    url: 'https://raw.githubusercontent.com/veg/datamonkey-js/refs/heads/master/public/assets/img/header-logo.svg'
    altText: Datamonkey.org logo
    #href: 'https://datamonkey.org'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  description: >
    Datamonkey is a free public server for comparative analysis of sequence alignments using state-of-the-art statistical models.
    <br>
    This is the OpenAPI definition for the Datamonkey API.
externalDocs:
  description: Use Datamonkey today!
  url: 'https://datamonkey.org'
tags:
  - name: HyPhy Methods
    description: Examples starting jobs and fetching results for specific HyPhy methods
  - name: File Upload and QC
    description: Examples uploading files to Datamonkey
  - name: Codon Aware Alignments
    description: Examples building codon-aware alignments from uploaded data. Somewhere over the rainbow..
  - name: Tree Building
    description: Examples building phylogenetic trees from uploaded data. Somewhere over the rainbow..
servers:
  - url: 'http://datamonkey.org/api/v1'
  - url: 'https://datamonkey.org/api/v1'
parameters:
  - name: method
    in: path
    description: The name of the HyPhy method
    required: true
    schema:
      type: string
paths:
  /methods/fel:
    $ref: paths/methods/fel/fel-start-job.yaml
  /methods/fel/results:
    $ref: paths/methods/fel/fel-results.yaml
  /methods/busted:
    $ref: paths/methods/busted/busted-start-job.yaml
  /methods/busted/results:
    $ref: paths/methods/busted/busted-results.yaml
  /datasets:
    $ref: paths/datasets.yaml
  #/datasets/qc:
  #  $ref: paths/datasets/qc.yaml
  #'/align/{aligner}':
  #  $ref: paths/align/{aligner}.yaml
  #'/tree/{tree_tool}':
  #  $ref: paths/tree/{tree_tool}.yaml
