openapi: 3.0.2
info:
  version: 1.2.0
  title: Datamonkey API
  contact:
    email: spond@temple.edu
    url: 'http://github.com/veg/api-datamonkey'
  x-logo:
    url: >-
      https://raw.githubusercontent.com/veg/datamonkey-js/refs/heads/master/public/assets/img/header-logo.svg
    altText: Datamonkey.org logo
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  description: >
    Datamonkey is a free public server for comparative analysis of sequence
    alignments using state-of-the-art statistical models. <br> This is the
    OpenAPI definition for the Datamonkey API.
externalDocs:
  description: Use Datamonkey today!
  url: 'https://datamonkey.org'
tags:
  - name: Health
    description: Check health of Datamonkey server
  - name: Chat
    description: Chat with an AI assistant to analyze data and run HyPhy methods
  - name: File Upload and QC
    description: Examples uploading files to Datamonkey
  - name: Jobs
    description: Manage analysis jobs
  - name: Methods
    description: List and manage available HyPhy methods
  - name: FEL
    description: Examples starting jobs and fetching results for FEL
  - name: BUSTED
    description: Examples starting jobs and fetching results for BUSTED
  - name: ABSREL
    description: Examples starting jobs and fetching results for ABSREL
  - name: BGM
    description: >-
      Examples starting jobs and fetching results for BGM (Bayesian Graphical
      Model)
  - name: CONTRAST-FEL
    description: >-
      Examples starting jobs and fetching results for CONTRAST-FEL (Fixed
      Effects Likelihood with Contrast)
  - name: FUBAR
    description: >-
      Examples starting jobs and fetching results for FUBAR (Fast Unconstrained
      Bayesian AppRoximation)
  - name: GARD
    description: >-
      Examples starting jobs and fetching results for GARD (Genetic Algorithm
      for Recombination Detection)
  - name: MEME
    description: >-
      Examples starting jobs and fetching results for MEME (Mixed Effects Model
      of Evolution)
  - name: MULTI-HIT
    description: >-
      Examples starting jobs and fetching results for MULTI-HIT (Multiple Hit)
      analysis
  - name: RELAX
    description: >-
      Examples starting jobs and fetching results for RELAX (Hypothesis testing
      framework to detect relaxation of selection)
  - name: SLAC
    description: >-
      Examples starting jobs and fetching results for SLAC (Single Likelihood
      Ancestor Counting) analysis
  - name: NRM
    description: >-
      Examples starting jobs and fetching results for NRM (Nucleotide
      Non-Reversible Model) analysis
  - name: FADE
    description: >-
      Examples starting jobs and fetching results for FADE (FUBAR Approach to
      Directional Evolution) analysis
  - name: SLATKIN
    description: >-
      Examples starting jobs and fetching results for SLATKIN (Slatkin-Maddison)
      analysis
  - name: Codon Aware Alignments
    description: >-
      Examples building codon-aware alignments from uploaded data. Somewhere
      over the rainbow..
  - name: Tree Building
    description: >-
      Examples building phylogenetic trees from uploaded data. Somewhere over
      the rainbow..
servers:
  - url: 'http://datamonkey.org/api/v1'
  - url: 'https://datamonkey.org/api/v1'
parameters:
  - name: method
    in: path
    description: The name of the HyPhy method
    required: true
    schema:
      type: string
paths:
  /health:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - Health
      summary: Check health of Datamonkey
      operationId: getHealth
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
        '500':
          description: Unable to get health. Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
        '503':
          description: Unable to get health. Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
  /chat:
    get:
      summary: List conversations for the authenticated user
      operationId: listUserConversations
      tags:
        - Chat
      parameters:
        - name: user_token
          in: header
          required: true
          description: Token identifying the user
          schema:
            type: string
      responses:
        '200':
          description: List of user's conversations
          content:
            application/json:
              schema:
                type: object
                properties:
                  conversations:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChatConversation'
        '401':
          description: Unauthorized - Invalid or missing user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
    post:
      summary: Create a new conversation
      operationId: createConversation
      tags:
        - Chat
      parameters:
        - name: user_token
          in: header
          required: true
          description: Token identifying the user
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Optional title for the conversation
      responses:
        '201':
          description: Conversation created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatConversation'
        '401':
          description: Unauthorized - Invalid or missing user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
  '/chat/{conversationId}':
    parameters:
      - name: conversationId
        in: path
        required: true
        description: ID of the conversation
        schema:
          type: string
    get:
      summary: Get a conversation by ID
      operationId: getConversation
      tags:
        - Chat
      parameters:
        - name: user_token
          in: header
          required: true
          description: Token identifying the user
          schema:
            type: string
      responses:
        '200':
          description: Conversation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatConversation'
        '401':
          description: Unauthorized - Invalid or missing user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not own this conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Conversation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
    delete:
      summary: Delete a conversation
      operationId: deleteConversation
      tags:
        - Chat
      parameters:
        - name: user_token
          in: header
          required: true
          description: Token identifying the user
          schema:
            type: string
      responses:
        '204':
          description: Conversation deleted
        '401':
          description: Unauthorized - Invalid or missing user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not own this conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Conversation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  '/chat/{conversationId}/messages':
    parameters:
      - name: conversationId
        in: path
        required: true
        description: ID of the conversation
        schema:
          type: string
    get:
      summary: Get messages from a conversation
      operationId: getConversationMessages
      tags:
        - Chat
      parameters:
        - name: user_token
          in: header
          required: true
          description: Token identifying the user
          schema:
            type: string
      responses:
        '200':
          description: List of conversation messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChatMessage'
        '401':
          description: Unauthorized - Invalid or missing user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not own this conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Conversation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
    post:
      summary: Send a message to the conversation
      operationId: sendConversationMessage
      tags:
        - Chat
      parameters:
        - name: user_token
          in: header
          required: true
          description: Token identifying the user
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: string
                  description: Message content to send
      responses:
        '200':
          description: AI response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/components/schemas/ChatMessage'
        '401':
          description: Unauthorized - Invalid or missing user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not own this conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Conversation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  /jobs:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - Jobs
      summary: Get a list of jobs
      description: >-
        Get a list of jobs with optional filtering by user token, alignment ID,
        and/or tree ID
      operationId: getJobsList
      parameters:
        - name: user_token
          in: query
          description: Filter jobs by user token
          schema:
            type: string
        - name: alignment_id
          in: query
          description: Filter jobs by alignment dataset ID
          schema:
            $ref: '#/components/schemas/Hash'
        - name: tree_id
          in: query
          description: Filter jobs by tree dataset ID
          schema:
            $ref: '#/components/schemas/Hash'
        - name: method
          in: query
          description: Filter jobs by HyPhy method
          schema:
            type: string
        - name: status
          in: query
          description: Filter jobs by status
          schema:
            type: string
            enum:
              - queued
              - running
              - completed
              - error
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobs:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobStatus'
        '401':
          description: Unauthorized - Invalid or missing user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  '/jobs/{jobId}':
    parameters:
      - name: jobId
        in: path
        description: ID of the job
        required: true
        schema:
          $ref: '#/components/schemas/Hash'
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - Jobs
      summary: Get details for a specific job
      description: Get detailed information about a specific job
      operationId: getJobById
      parameters:
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required if job is private)
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '401':
          description: Unauthorized - Invalid or missing user token for private job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not own this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    delete:
      tags:
        - Jobs
      summary: Delete a job
      description: >-
        Delete a job from the Datamonkey server. If the job is running, it will
        be cancelled.
      operationId: deleteJob
      parameters:
        - name: user_token
          in: header
          required: true
          description: Token identifying the user who owns the job
          schema:
            type: string
      responses:
        '204':
          description: Job deleted successfully
        '401':
          description: Unauthorized - Invalid or missing user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not own this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /datasets:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - File Upload and QC
      summary: Get a list of datasets uploaded to Datamonkey
      description: Get a list of datasets with optional filtering by user token
      operationId: getDatasetsList
      parameters:
        - name: user_token
          in: query
          description: Filter datasets by user token
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datasets'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
    post:
      tags:
        - File Upload and QC
      summary: Upload a dataset to Datamonkey
      operationId: PostDataset
      parameters:
        - name: user_token
          in: header
          required: true
          description: Token identifying the user
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadRequest'
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datasets'
        '401':
          description: Unauthorized - Invalid or missing user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  '/datasets/{datasetId}':
    parameters:
      - name: datasetId
        in: path
        description: ID of the dataset to retrieve
        required: true
        schema:
          $ref: '#/components/schemas/Hash'
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - File Upload and QC
      summary: Get details for a specific dataset
      description: Get detailed information about a specific dataset
      operationId: getDatasetById
      parameters:
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required if dataset is private)
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
        '401':
          description: Unauthorized - Invalid or missing user token for private dataset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Dataset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    delete:
      tags:
        - File Upload and QC
      summary: Delete a dataset
      description: Delete a dataset from the Datamonkey server
      operationId: deleteDataset
      parameters:
        - name: user_token
          in: header
          required: true
          description: Token identifying the user who owns the dataset
          schema:
            type: string
      responses:
        '204':
          description: Dataset deleted successfully
        '401':
          description: Unauthorized - Invalid or missing user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not own this dataset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Dataset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - Methods
      summary: Get a list of available HyPhy methods
      description: >-
        Returns a list of all available HyPhy methods that can be run on the
        server
      operationId: getMethodsList
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodsList'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/fel-start:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    post:
      tags:
        - FEL
      summary: Start and monitor a FEL job
      operationId: startFELJob
      parameters:
        - name: user_token
          in: header
          required: true
          description: Token identifying the user
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FelRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '401':
          description: Unauthorized - Invalid or missing user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/fel-result:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - FEL
      summary: Get a FEL job result by job ID
      operationId: getFELJobById
      parameters:
        - name: job_id
          in: query
          description: Job ID to fetch results for
          required: true
          schema:
            $ref: '#/components/schemas/Hash'
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FelResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    post:
      tags:
        - FEL
      summary: Get a FEL job result
      operationId: getFELJob
      parameters:
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FelRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FelResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/busted-start:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    post:
      tags:
        - BUSTED
      summary: Start and monitor a BUSTED job
      operationId: startBUSTEDJob
      parameters:
        - name: user_token
          in: header
          required: true
          description: Token identifying the user
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BustedRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '401':
          description: Unauthorized - Invalid or missing user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/busted-result:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - BUSTED
      summary: Get a BUSTED job result by job ID
      operationId: getBUSTEDJobById
      parameters:
        - name: job_id
          in: query
          description: Job ID to fetch results for
          required: true
          schema:
            $ref: '#/components/schemas/Hash'
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BustedResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    post:
      tags:
        - BUSTED
      summary: Get a BUSTED job result
      operationId: getBUSTEDJob
      parameters:
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BustedRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BustedResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/absrel-start:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    post:
      tags:
        - ABSREL
      summary: Start and monitor an ABSREL job
      operationId: startABSRELJob
      parameters:
        - name: user_token
          in: header
          required: true
          description: Token identifying the user
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbsrelRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '401':
          description: Unauthorized - Invalid or missing user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/absrel-result:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - ABSREL
      summary: Get an ABSREL job result by job ID
      operationId: getABSRELJobById
      parameters:
        - name: job_id
          in: query
          description: Job ID to fetch results for
          required: true
          schema:
            $ref: '#/components/schemas/Hash'
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AbsrelResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    post:
      tags:
        - ABSREL
      summary: Get an ABSREL job result
      operationId: getABSRELJob
      parameters:
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbsrelRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AbsrelResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/meme-start:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    post:
      tags:
        - MEME
      summary: Start a MEME analysis
      operationId: startMEMEJob
      parameters:
        - name: user_token
          in: header
          required: true
          description: Token identifying the user
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemeRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '401':
          description: Unauthorized - Invalid or missing user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/meme-result:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - MEME
      summary: Get a MEME job result by job ID
      operationId: getMEMEJobById
      parameters:
        - name: job_id
          in: query
          description: Job ID to fetch results for
          required: true
          schema:
            $ref: '#/components/schemas/Hash'
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemeResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    post:
      tags:
        - MEME
      summary: Get MEME analysis results
      operationId: getMEMEJob
      parameters:
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemeRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemeResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/relax-start:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    post:
      tags:
        - RELAX
      summary: Start and monitor a RELAX job
      operationId: startRELAXJob
      parameters:
        - name: user_token
          in: header
          required: true
          description: Token identifying the user
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelaxRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '401':
          description: Unauthorized - Invalid or missing user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/relax-result:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - RELAX
      summary: Get a RELAX job result by job ID
      operationId: getRELAXJobById
      parameters:
        - name: job_id
          in: query
          description: Job ID to fetch results for
          required: true
          schema:
            $ref: '#/components/schemas/Hash'
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelaxResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    post:
      tags:
        - RELAX
      summary: Get RELAX analysis results
      operationId: getRELAXJob
      parameters:
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelaxRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelaxResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/gard-start:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    post:
      tags:
        - GARD
      summary: Start a GARD analysis
      operationId: startGARDJob
      parameters:
        - name: user_token
          in: header
          required: true
          description: Token identifying the user
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GardRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '401':
          description: Unauthorized - Invalid or missing user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/gard-result:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - GARD
      summary: Get a GARD job result by job ID
      operationId: getGARDJobById
      parameters:
        - name: job_id
          in: query
          description: Job ID to fetch results for
          required: true
          schema:
            $ref: '#/components/schemas/Hash'
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GardResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    post:
      tags:
        - GARD
      summary: Get GARD analysis results
      operationId: getGARDJob
      parameters:
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GardRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GardResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/bgm-start:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    post:
      tags:
        - BGM
      summary: Start and monitor a BGM job
      operationId: startBGMJob
      parameters:
        - name: user_token
          in: header
          required: true
          description: Token identifying the user
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BgmRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '401':
          description: Unauthorized - Invalid or missing user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/bgm-result:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - BGM
      summary: Get a BGM job result by job ID
      operationId: getBGMJobById
      parameters:
        - name: job_id
          in: query
          description: Job ID to fetch results for
          required: true
          schema:
            $ref: '#/components/schemas/Hash'
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgmResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    post:
      tags:
        - BGM
      summary: Get a BGM job result
      operationId: getBGMJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BgmRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgmResult'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/contrast-fel-start:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    post:
      tags:
        - CONTRAST-FEL
      summary: Start a CONTRAST-FEL analysis
      description: >
        Starts a Contrast-FEL (Fixed Effects Likelihood with Contrast) job to
        investigate whether selective pressures differ 

        between two or more sets of branches at a site. The method estimates
        site-specific synonymous (alpha) and 

        non-synonymous (beta, one per branch set) substitution rates and tests
        beta rates for equality at each site.
      operationId: startCONTRASTFELJob
      parameters:
        - name: user_token
          in: header
          required: true
          description: Token identifying the user
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContrastFelRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '401':
          description: Unauthorized - Invalid or missing user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/contrast-fel-result:
    get:
      tags:
        - CONTRAST-FEL
      summary: Get CONTRAST-FEL job result by job ID
      operationId: getContrastFELJobById
      parameters:
        - name: job_id
          in: query
          description: Job ID to fetch results for
          required: true
          schema:
            $ref: '#/components/schemas/Hash'
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContrastFelResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    post:
      tags:
        - CONTRAST-FEL
      summary: Get CONTRAST-FEL analysis results
      description: >
        Retrieves the results of a previously submitted CONTRAST-FEL job.
        CONTRAST-FEL investigates whether 

        selective pressures differ between two or more sets of branches at a
        site by estimating site-specific 

        synonymous and non-synonymous substitution rates.
      operationId: getCONTRASTFELJob
      parameters:
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContrastFelRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContrastFelResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/fubar-start:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    post:
      tags:
        - FUBAR
      summary: Start a FUBAR analysis
      description: >
        Starts a Fast Unconstrained Bayesian AppRoximation (FUBAR) job to detect
        sites under positive selection.

        FUBAR uses a Bayesian approach to infer selection pressures at
        individual sites, providing posterior

        probabilities of positive and negative selection.
      operationId: startFUBARJob
      parameters:
        - name: user_token
          in: header
          required: true
          description: Token identifying the user
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FubarRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '401':
          description: Unauthorized - Invalid or missing user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/fubar-result:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - FUBAR
      summary: Get a FUBAR job result by job ID
      operationId: getFUBARJobById
      parameters:
        - name: job_id
          in: query
          description: Job ID to fetch results for
          required: true
          schema:
            $ref: '#/components/schemas/Hash'
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FubarResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    post:
      tags:
        - FUBAR
      summary: Get FUBAR analysis results
      description: >
        Retrieves the results of a previously submitted Fast Unconstrained
        Bayesian AppRoximation (FUBAR) job.

        FUBAR uses a Bayesian approach to infer selection pressures at
        individual sites, providing posterior

        probabilities of positive and negative selection.
      operationId: getFUBARJob
      parameters:
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FubarRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FubarResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/multihit-start:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    post:
      tags:
        - MULTI-HIT
      summary: Start a MULTI-HIT analysis
      description: >
        MULTI-HIT (Multiple Hit) examines whether or not a codon alignment is
        better fit by models 

        which permit multiple instantaneous substitutions. It can analyze both
        double-hit and 

        triple-hit substitutions, with an option to account for synonymous
        triple-hit substitutions.
      operationId: startMULTIHITJob
      parameters:
        - name: user_token
          in: header
          required: true
          description: Token identifying the user
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultihitRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '401':
          description: Unauthorized - Invalid or missing user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/multihit-result:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - MULTI-HIT
      summary: Get a MULTI-HIT job result by job ID
      operationId: getMULTIHITJobById
      parameters:
        - name: job_id
          in: query
          description: Job ID to fetch results for
          required: true
          schema:
            $ref: '#/components/schemas/Hash'
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultihitResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    post:
      tags:
        - MULTI-HIT
      summary: Get MULTI-HIT analysis results
      description: >
        Retrieve the results of a previously submitted MULTI-HIT analysis job.

        Results include evidence ratios for different substitution types,
        site-specific substitutions,

        model fitting information, and statistical test results comparing
        different models.
      operationId: getMULTIHITJob
      parameters:
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultihitRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultihitResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/slac-start:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    post:
      tags:
        - SLAC
      summary: Start a SLAC analysis
      description: >
        SLAC (Single Likelihood Ancestor Counting) uses a maximum likelihood
        ancestral state reconstruction

        and minimum path substitution counting to estimate site-level dS and dN,
        and applies a simple

        binomial-based test to test if dS differs from dN. The estimates
        aggregate information over all branches,

        so the signal is derived from pervasive diversification or conservation.
      operationId: startSLACJob
      parameters:
        - name: user_token
          in: header
          required: true
          description: Token identifying the user
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlacRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '401':
          description: Unauthorized - Invalid or missing user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/slac-result:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - SLAC
      summary: Get a SLAC job result by job ID
      operationId: getSLACJobById
      parameters:
        - name: job_id
          in: query
          description: Job ID to fetch results for
          required: true
          schema:
            $ref: '#/components/schemas/Hash'
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlacResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    post:
      tags:
        - SLAC
      summary: Get SLAC analysis results
      description: >
        Retrieve the results of a previously submitted SLAC (Single Likelihood
        Ancestor Counting) analysis job.

        Results include model fitting information, branch attributes, and
        site-specific dN/dS estimates.
      operationId: getSLACJob
      parameters:
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlacRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlacResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/nrm-start:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    post:
      tags:
        - NRM
      summary: Start and monitor an NRM (Nucleotide Non-Reversible Model) job
      operationId: startNRMJob
      parameters:
        - name: user_token
          in: header
          required: true
          description: Token identifying the user
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NrmRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '401':
          description: Unauthorized - Invalid or missing user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/nrm-result:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - NRM
      summary: Get an NRM job result by job ID
      operationId: getNRMJobById
      parameters:
        - name: job_id
          in: query
          description: Job ID to fetch results for
          required: true
          schema:
            $ref: '#/components/schemas/Hash'
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NrmResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    post:
      tags:
        - NRM
      summary: Get an NRM job result
      operationId: getNRMJob
      parameters:
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NrmRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NrmResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/fade-start:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    post:
      tags:
        - FADE
      summary: Start a FADE job
      description: >
        Start a FADE (FUBAR Approach to Directional Evolution) job. FADE is a
        fast method to test  whether or not a subset of sites in a protein
        alignment evolve towards a particular residue  along a subset of
        branches at accelerated rates compared to reference model. FADE uses a 
        random effects model and latent Dirichlet allocation (LDA) - inspired
        approximation methods  to allocate sites to rate classes.
      operationId: startFadeJob
      parameters:
        - name: user_token
          in: header
          required: true
          description: Token identifying the user
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FadeRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '401':
          description: Unauthorized - Invalid or missing user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/fade-result:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - FADE
      summary: Get a FADE job result by job ID
      operationId: getFadeResultsById
      parameters:
        - name: job_id
          in: query
          description: Job ID to fetch results for
          required: true
          schema:
            $ref: '#/components/schemas/Hash'
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FadeResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    post:
      tags:
        - FADE
      summary: Get a FADE job result
      operationId: getFadeResults
      parameters:
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FadeRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FadeResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/slatkin-start:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    post:
      tags:
        - SLATKIN
      summary: Start a Slatkin-Maddison analysis
      operationId: startSlatkinJob
      parameters:
        - name: user_token
          in: header
          required: true
          description: Token identifying the user
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlatkinRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '401':
          description: Unauthorized - Invalid or missing user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/slatkin-result:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - SLATKIN
      summary: Get a Slatkin-Maddison job result by job ID
      operationId: getSlatkinResultsById
      parameters:
        - name: job_id
          in: query
          description: Job ID to fetch results for
          required: true
          schema:
            $ref: '#/components/schemas/Hash'
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlatkinResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    post:
      tags:
        - SLATKIN
      summary: Get a Slatkin-Maddison job result
      operationId: getSlatkinResults
      parameters:
        - name: user_token
          in: header
          required: false
          description: Token identifying the user (required for private jobs)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlatkinRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlatkinResult'
        '401':
          description: Unauthorized - Invalid user token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Forbidden - User does not have permission to access this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
components:
  schemas:
    Status:
      type: string
      enum:
        - healthy
        - unhealthy
        - unknown
    Health:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/Status'
        details:
          type: object
          optional: true
          properties:
            job_scheduler:
              $ref: '#/components/schemas/Status'
              description: 'Health status of the job scheduler (e.g., SLURM, PBS, etc.)'
            datamonkey:
              $ref: '#/components/schemas/Status'
              description: Health status of the Datamonkey API service
            llm:
              $ref: '#/components/schemas/Status'
              description: Health status of the Language Learning Model service
            database:
              $ref: '#/components/schemas/Status'
              description: Health status of the database
    ChatMessage:
      type: object
      description: A message in a chat session
      required:
        - role
        - content
      properties:
        role:
          type: string
          description: Role of the message sender
          enum:
            - user
            - assistant
        content:
          type: string
          description: Content of the message
        timestamp:
          type: integer
          format: int64
          description: Timestamp when the message was sent (Unix timestamp in milliseconds)
    ChatConversation:
      type: object
      description: A conversation between a user and the AI assistant
      required:
        - id
        - user_token
        - created
        - updated
      properties:
        id:
          type: string
          description: Unique identifier for the conversation
        user_token:
          type: string
          description: Token identifying the user who owns this conversation
        title:
          type: string
          description: Optional title for the conversation
        created:
          type: integer
          format: int64
          description: >-
            Timestamp when the conversation was created (Unix timestamp in
            milliseconds)
        updated:
          type: integer
          format: int64
          description: >-
            Timestamp when the conversation was last updated (Unix timestamp in
            milliseconds)
        messages:
          type: array
          description: List of messages in the conversation
          items:
            $ref: '#/components/schemas/ChatMessage'
    UnauthorizedError:
      type: object
      properties:
        code:
          type: integer
          format: int32
          example: 401
        message:
          type: string
          example: 'Unauthorized: Invalid or missing user token'
      required:
        - code
        - message
    ForbiddenError:
      type: object
      properties:
        code:
          type: integer
          format: int32
          example: 403
        message:
          type: string
          example: 'Forbidden: User does not have permission to access this resource'
      required:
        - code
        - message
    Hash:
      type: string
      pattern: '^[a-zA-Z0-9]+$'
    NotFoundError:
      type: object
      properties:
        error:
          type: string
          description: Error message
          example: Job not found
        status:
          type: integer
          description: HTTP status code
          example: 404
        job_id:
          allOf:
            - $ref: '#/components/schemas/Hash'
            - description: The job ID that was not found
      required:
        - error
        - status
    JobStatus:
      type: object
      properties:
        job_id:
          $ref: '#/components/schemas/Hash'
        alignment_id:
          $ref: '#/components/schemas/Hash'
          description: ID of the alignment dataset associated with this job
        tree_id:
          $ref: '#/components/schemas/Hash'
          description: ID of the tree dataset associated with this job
        user_token:
          type: string
          description: Token identifying the user who owns this job
        status:
          type: string
          enum:
            - queued
            - running
            - completed
            - error
        error_message:
          type: string
        method:
          type: string
          description: The HyPhy method used for this job
    ServerError:
      type: object
      properties:
        error:
          type: string
          description: A general description of the error.
        code:
          type: string
          description: A unique error code (if available).
        details:
          type: string
          description: Optional details about the error.
    DatasetMeta:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        type:
          type: string
    Dataset:
      type: object
      allOf:
        - $ref: '#/components/schemas/DatasetMeta'
        - type: object
          properties:
            id:
              $ref: '#/components/schemas/Hash'
            user_token:
              type: string
              description: Token identifying the user who owns this dataset
            created:
              type: string
              format: date-time
            updated:
              type: string
              format: date-time
    Datasets:
      type: object
      properties:
        datasets:
          type: array
          items:
            $ref: '#/components/schemas/Dataset'
    UploadRequest:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/DatasetMeta'
        user_token:
          type: string
          description: Token identifying the user who is uploading the dataset
        file:
          type: string
          format: binary
          description: Dataset File. incompatible with the url field
        url:
          type: string
          description: URL of the file to upload. incompatible with the file field
    InvalidDataError:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
                description: The field that caused the error
              message:
                type: string
                description: The error message
    MethodsList:
      type: object
      properties:
        methods:
          type: array
          description: List of available HyPhy methods
          items:
            type: object
            properties:
              id:
                type: string
                description: 'Method identifier (e.g., "fel", "busted", "absrel")'
              name:
                type: string
                description: Human-readable name of the method
              description:
                type: string
                description: Brief description of what the method does
              status:
                type: string
                description: Current status of the method
                enum:
                  - available
                  - beta
                  - deprecated
                default: available
              start_endpoint:
                type: string
                description: API endpoint to start a job for this method
              result_endpoint:
                type: string
                description: API endpoint to retrieve results for this method
              parameters:
                type: array
                description: List of parameters expected by this method
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Parameter name
                    description:
                      type: string
                      description: Description of the parameter
                    required:
                      type: boolean
                      description: Whether the parameter is required
                    type:
                      type: string
                      description: Data type of the parameter
                    default:
                      type: string
                      description: Default value of the parameter (if any)
    GeneticCode:
      type: string
      description: |
        Available Genetic Codes
      default: Universal
      enum:
        - Universal
        - Vertebrate mtDNA
        - Yeast mtDNA
        - Mold/Protozoan mtDNA
        - Invertebrate mtDNA
        - Ciliate Nuclear
        - Echinoderm mtDNA
        - Eupltoid Nuclear
        - Alt. Yeast Nuclear
        - Ascidian mtDNA
        - Flatworm mtDNA
        - Blepharisma Nuclear
    FelRequest:
      type: object
      properties:
        user_token:
          type: string
          description: Token identifying the user who is starting the job
        alignment:
          $ref: '#/components/schemas/Hash'
          description: Dataset ID of the alignment
          required: true
        tree:
          $ref: '#/components/schemas/Hash'
          description: Dataset ID of the tree file
          required: true
        ci:
          type: string
          enum:
            - 'Yes'
            - 'No'
          default: 'No'
          description: Compute confidence intervals for estimated rates
        srv:
          type: string
          enum:
            - 'Yes'
            - 'No'
          default: 'Yes'
          description: Include synonymous rate variation in the model
        resample:
          type: number
          default: 0
          description: Number of bootstrap resamples
        multiple_hits:
          type: string
          enum:
            - None
            - Double
            - Double+Triple
          default: None
          description: Specify handling of multiple nucleotide substitutions
        site_multihit:
          type: string
          enum:
            - Estimate
            - Global
          default: Estimate
          description: Specify whether to estimate multiple hit rates for each site
        genetic_code:
          $ref: '#/components/schemas/GeneticCode'
          default: Universal
        branches:
          type: array
          items:
            type: string
          default: []
          description: >-
            Branches to include in the analysis. If empty, all branches are
            included.
    Email:
      description: User email address
      type: string
      format: test
      example: john.smith@example.com
    AnalysisInfo:
      type: object
      properties:
        authors: string
        citation: string
        contact:
          $ref: '#/components/schemas/Email'
        info: string
        requirements: string
        settings:
[...]
