openapi: 3.0.2
info:
  version: 1.0.0
  title: Datamonkey API
  contact:
    email: spond@temple.edu
    url: 'http://github.com/veg/api-datamonkey'
  x-logo:
    url: >-
      https://raw.githubusercontent.com/veg/datamonkey-js/refs/heads/master/public/assets/img/header-logo.svg
    altText: Datamonkey.org logo
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  description: >
    Datamonkey is a free public server for comparative analysis of sequence
    alignments using state-of-the-art statistical models. <br> This is the
    OpenAPI definition for the Datamonkey API.
externalDocs:
  description: Use Datamonkey today!
  url: 'https://datamonkey.org'
tags:
  - name: Health
    description: Check health of Datamonkey server
  - name: File Upload and QC
    description: Examples uploading files to Datamonkey
  - name: FEL
    description: Examples starting jobs and fetching results for FEL
  - name: BUSTED
    description: Examples starting jobs and fetching results for BUSTED
  - name: ABSREL
    description: Examples starting jobs and fetching results for ABSREL
  - name: BGM
    description: >-
      Examples starting jobs and fetching results for BGM (Bayesian Graphical
      Model)
  - name: CONTRAST-FEL
    description: >-
      Examples starting jobs and fetching results for CONTRAST-FEL (Fixed
      Effects Likelihood with Contrast)
  - name: FUBAR
    description: >-
      Examples starting jobs and fetching results for FUBAR (Fast Unconstrained
      Bayesian AppRoximation)
  - name: GARD
    description: >-
      Examples starting jobs and fetching results for GARD (Genetic Algorithm
      for Recombination Detection)
  - name: MEME
    description: >-
      Examples starting jobs and fetching results for MEME (Mixed Effects Model
      of Evolution)
  - name: MULTI-HIT
    description: >-
      Examples starting jobs and fetching results for MULTI-HIT (Multiple Hit)
      analysis
  - name: RELAX
    description: >-
      Examples starting jobs and fetching results for RELAX (Hypothesis testing
      framework to detect relaxation of selection)
  - name: SLAC
    description: >-
      Examples starting jobs and fetching results for SLAC (Single Likelihood
      Ancestor Counting) analysis
  - name: Codon Aware Alignments
    description: >-
      Examples building codon-aware alignments from uploaded data. Somewhere
      over the rainbow..
  - name: Tree Building
    description: >-
      Examples building phylogenetic trees from uploaded data. Somewhere over
      the rainbow..
servers:
  - url: 'http://datamonkey.org/api/v1'
  - url: 'https://datamonkey.org/api/v1'
parameters:
  - name: method
    in: path
    description: The name of the HyPhy method
    required: true
    schema:
      type: string
paths:
  /health:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - Health
      summary: Check health of Datamonkey
      operationId: getHealth
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
        '500':
          description: Unable to get health. Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
        '503':
          description: Unable to get health. Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
  /methods/fel-start:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    post:
      tags:
        - FEL
      summary: Start and monitor a FEL job
      operationId: startFELJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FelRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/fel-result:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - FEL
      summary: Get a FEL job result by job ID
      operationId: getFELJobById
      parameters:
        - name: job_id
          in: query
          description: Job ID to fetch results for
          required: true
          schema:
            $ref: '#/components/schemas/Hash'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FelResult'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    post:
      tags:
        - FEL
      summary: Get a FEL job result
      operationId: getFELJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FelRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FelResult'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/busted-start:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    post:
      tags:
        - BUSTED
      summary: Start and monitor a BUSTED job
      operationId: startBUSTEDJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BustedRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/busted-result:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - BUSTED
      summary: Get a BUSTED job result by job ID
      operationId: getBUSTEDJobById
      parameters:
        - name: job_id
          in: query
          description: Job ID to fetch results for
          required: true
          schema:
            $ref: '#/components/schemas/Hash'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BustedResult'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    post:
      tags:
        - BUSTED
      summary: Get a BUSTED job result
      operationId: getBUSTEDJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BustedRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BustedResult'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/absrel-start:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    post:
      tags:
        - ABSREL
      summary: Start and monitor an ABSREL job
      operationId: startABSRELJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbsrelRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/absrel-result:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - ABSREL
      summary: Get an ABSREL job result by job ID
      operationId: getABSRELJobById
      parameters:
        - name: job_id
          in: query
          description: Job ID to fetch results for
          required: true
          schema:
            $ref: '#/components/schemas/Hash'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AbsrelResult'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    post:
      tags:
        - ABSREL
      summary: Get an ABSREL job result
      operationId: getABSRELJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbsrelRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AbsrelResult'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/meme-start:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    post:
      tags:
        - MEME
      summary: Start a MEME analysis
      operationId: startMEMEJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemeRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/meme-result:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - MEME
      summary: Get a MEME job result by job ID
      operationId: getMEMEJobById
      parameters:
        - name: job_id
          in: query
          description: Job ID to fetch results for
          required: true
          schema:
            $ref: '#/components/schemas/Hash'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemeResult'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    post:
      tags:
        - MEME
      summary: Get MEME analysis results
      operationId: getMEMEJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemeRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemeResult'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/relax-start:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    post:
      tags:
        - RELAX
      summary: Start and monitor a RELAX job
      operationId: startRELAXJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelaxRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/relax-result:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - RELAX
      summary: Get a RELAX job result by job ID
      operationId: getRELAXJobById
      parameters:
        - name: job_id
          in: query
          description: Job ID to fetch results for
          required: true
          schema:
            $ref: '#/components/schemas/Hash'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelaxResult'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    post:
      tags:
        - RELAX
      summary: Get RELAX analysis results
      operationId: getRELAXJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelaxRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelaxResult'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/gard-start:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    post:
      tags:
        - GARD
      summary: Start a GARD analysis
      operationId: startGARDJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GardRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/gard-result:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - GARD
      summary: Get a GARD job result by job ID
      operationId: getGARDJobById
      parameters:
        - name: job_id
          in: query
          description: Job ID to fetch results for
          required: true
          schema:
            $ref: '#/components/schemas/Hash'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GardResult'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    post:
      tags:
        - GARD
      summary: Get GARD analysis results
      operationId: getGARDJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GardRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GardResult'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/bgm-start:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    post:
      tags:
        - BGM
      summary: Start and monitor a BGM job
      operationId: startBGMJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BgmRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/bgm-result:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - BGM
      summary: Get a BGM job result by job ID
      operationId: getBGMJobById
      parameters:
        - name: job_id
          in: query
          description: Job ID to fetch results for
          required: true
          schema:
            $ref: '#/components/schemas/Hash'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgmResult'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    post:
      tags:
        - BGM
      summary: Get a BGM job result
      operationId: getBGMJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BgmRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgmResult'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/contrast-fel-start:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    post:
      tags:
        - CONTRAST-FEL
      summary: Start a CONTRAST-FEL analysis
      description: >
        Starts a Contrast-FEL (Fixed Effects Likelihood with Contrast) job to
        investigate whether selective pressures differ 

        between two or more sets of branches at a site. The method estimates
        site-specific synonymous (alpha) and 

        non-synonymous (beta, one per branch set) substitution rates and tests
        beta rates for equality at each site.
      operationId: startCONTRASTFELJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContrastFelRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/contrast-fel-result:
    get:
      tags:
        - CONTRAST-FEL
      summary: Get CONTRAST-FEL job result by job ID
      operationId: getContrastFELJobById
      parameters:
        - name: job_id
          in: query
          description: Job ID to fetch results for
          required: true
          schema:
            $ref: '#/components/schemas/Hash'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContrastFelResult'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    post:
      tags:
        - CONTRAST-FEL
      summary: Get CONTRAST-FEL analysis results
      description: >
        Retrieves the results of a previously submitted CONTRAST-FEL job.
        CONTRAST-FEL investigates whether 

        selective pressures differ between two or more sets of branches at a
        site by estimating site-specific 

        synonymous and non-synonymous substitution rates.
      operationId: getCONTRASTFELJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContrastFelRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContrastFelResult'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/fubar-start:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    post:
      tags:
        - FUBAR
      summary: Start a FUBAR analysis
      description: >
        Starts a Fast Unconstrained Bayesian AppRoximation (FUBAR) job to detect
        sites under positive selection.

        FUBAR uses a Bayesian approach to infer selection pressures at
        individual sites, providing posterior

        probabilities of positive and negative selection.
      operationId: startFUBARJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FubarRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/fubar-result:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - FUBAR
      summary: Get a FUBAR job result by job ID
      operationId: getFUBARJobById
      parameters:
        - name: job_id
          in: query
          description: Job ID to fetch results for
          required: true
          schema:
            $ref: '#/components/schemas/Hash'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FubarResult'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    post:
      tags:
        - FUBAR
      summary: Get FUBAR analysis results
      description: >
        Retrieves the results of a previously submitted Fast Unconstrained
        Bayesian AppRoximation (FUBAR) job.

        FUBAR uses a Bayesian approach to infer selection pressures at
        individual sites, providing posterior

        probabilities of positive and negative selection.
      operationId: getFUBARJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FubarRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FubarResult'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/multihit-start:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    post:
      tags:
        - MULTI-HIT
      summary: Start a MULTI-HIT analysis
      description: >
        MULTI-HIT (Multiple Hit) examines whether or not a codon alignment is
        better fit by models 

        which permit multiple instantaneous substitutions. It can analyze both
        double-hit and 

        triple-hit substitutions, with an option to account for synonymous
        triple-hit substitutions.
      operationId: startMULTIHITJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultihitRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/multihit-result:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - MULTI-HIT
      summary: Get a MULTI-HIT job result by job ID
      operationId: getMULTIHITJobById
      parameters:
        - name: job_id
          in: query
          description: Job ID to fetch results for
          required: true
          schema:
            $ref: '#/components/schemas/Hash'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultihitResult'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    post:
      tags:
        - MULTI-HIT
      summary: Get MULTI-HIT analysis results
      description: >
        Retrieve the results of a previously submitted MULTI-HIT analysis job.

        Results include evidence ratios for different substitution types,
        site-specific substitutions,

        model fitting information, and statistical test results comparing
        different models.
      operationId: getMULTIHITJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultihitRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultihitResult'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/slac-start:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    post:
      tags:
        - SLAC
      summary: Start a SLAC analysis
      description: >
        SLAC (Single Likelihood Ancestor Counting) uses a maximum likelihood
        ancestral state reconstruction

        and minimum path substitution counting to estimate site-level dS and dN,
        and applies a simple

        binomial-based test to test if dS differs from dN. The estimates
        aggregate information over all branches,

        so the signal is derived from pervasive diversification or conservation.
      operationId: startSLACJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlacRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /methods/slac-result:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - SLAC
      summary: Get a SLAC job result by job ID
      operationId: getSLACJobById
      parameters:
        - name: job_id
          in: query
          description: Job ID to fetch results for
          required: true
          schema:
            $ref: '#/components/schemas/Hash'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlacResult'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
    post:
      tags:
        - SLAC
      summary: Get SLAC analysis results
      description: >
        Retrieve the results of a previously submitted SLAC (Single Likelihood
        Ancestor Counting) analysis job.

        Results include model fitting information, branch attributes, and
        site-specific dN/dS estimates.
      operationId: getSLACJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlacRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlacResult'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
  /datasets:
    parameters:
      - name: pretty_print
        in: query
        description: Pretty print response
        schema:
          type: boolean
    get:
      tags:
        - File Upload and QC
      summary: Get a list of datasets uploaded to Datamonkey
      operationId: getDatasetsList
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datasets'
    post:
      tags:
        - File Upload and QC
      summary: Upload a dataset to Datamonkey
      operationId: PostDataset
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadRequest'
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datasets'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDataError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
components:
  schemas:
    Status:
      type: string
      enum:
        - healthy
        - unhealthy
        - unknown
    Health:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/Status'
        details:
          type: object
          optional: true
          properties:
            slurm:
              $ref: '#/components/schemas/Status'
            datamonkey:
              $ref: '#/components/schemas/Status'
    Hash:
      type: string
      pattern: '^[a-zA-Z0-9]+$'
    GeneticCode:
      type: string
      description: |
        Available Genetic Codes
      default: Universal
      enum:
        - Universal
        - Vertebrate mtDNA
        - Yeast mtDNA
        - Mold/Protozoan mtDNA
        - Invertebrate mtDNA
        - Ciliate Nuclear
        - Echinoderm mtDNA
        - Eupltoid Nuclear
        - Alt. Yeast Nuclear
        - Ascidian mtDNA
        - Flatworm mtDNA
        - Blepharisma Nuclear
    FelRequest:
      type: object
      properties:
        alignment:
          $ref: '#/components/schemas/Hash'
          description: Handle to the alignment
          required: true
        tree:
          $ref: '#/components/schemas/Hash'
          description: Handle to the tree file
          required: true
        ci:
          type: string
          enum:
            - 'Yes'
            - 'No'
          default: 'No'
          description: Compute confidence intervals for estimated rates
        srv:
          type: string
          enum:
            - 'Yes'
            - 'No'
          default: 'Yes'
          description: Include synonymous rate variation in the model
        resample:
          type: number
          default: 0
          description: Number of bootstrap resamples
        multiple_hits:
          type: string
          enum:
            - None
            - Double
            - Double+Triple
          default: None
          description: Specify handling of multiple nucleotide substitutions
        site_multihit:
          type: string
          enum:
            - Estimate
            - Global
          default: Estimate
          description: Specify whether to estimate multiple hit rates for each site
        genetic_code:
          $ref: '#/components/schemas/GeneticCode'
          default: Universal
        branches:
          type: array
          items:
            type: string
          default: []
          description: >-
            Branches to include in the analysis. If empty, all branches are
            included.
    JobStatus:
      type: object
      properties:
        job_id:
          $ref: '#/components/schemas/Hash'
        status:
          type: string
          enum:
            - queued
            - running
            - completed
            - error
        error_message:
          type: string
    InvalidDataError:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
                description: The field that caused the error
              message:
                type: string
                description: The error message
    ServerError:
      type: object
      properties:
        error:
          type: string
          description: A general description of the error.
        code:
          type: string
          description: A unique error code (if available).
        details:
          type: string
          description: Optional details about the error.
    Email:
      description: User email address
      type: string
      format: test
      example: john.smith@example.com
    AnalysisInfo:
      type: object
      properties:
        authors: string
        citation: string
        contact:
          $ref: '#/components/schemas/Email'
        info: string
        requirements: string
        settings:
          type: object
          properties:
            ci: number
            multihit: string
            pvalue: number
            resample: number
            site_filter:
              type: object
              properties:
                site_filter: string
                site_save_filter: string
            srv: number
        version: string
    InputInfo:
      type: object
      properties:
        file_name: string
        number_of_sequences: integer
        number_of_sites: integer
        partition_count: integer
        trees:
          type: object
          additionalProperties:
            type: string
    TestedBranchesInfo:
      type: object
      additionalProperties:
        type: object
        additionalProperties:
          type: string
          enum:
            - tested
            - background
    TimersInfo:
      type: object
      additionalProperties:
        type: object
        properties:
          order:
            type: integer
          timer:
            type: integer
    PartitionsInfo:
      type: object
      additionalProperties:
        type: object
        properties:
          name:
            type: string
          coverage:
            type: array
            items:
              type: array
              items:
                type: integer
    BaseResponse:
      type: object
      properties:
        analysis:
          $ref: '#/components/schemas/AnalysisInfo'
        input:
          $ref: '#/components/schemas/InputInfo'
        tested:
          $ref: '#/components/schemas/TestedBranchesInfo'
        timers:
          $ref: '#/components/schemas/TimersInfo'
        runtime:
          type: string
          pattern: '^[0-9]+\.[0-9]+\.[0-9]+$'
        data partitions:
          $ref: '#/components/schemas/PartitionsInfo'
    FelResult:
      type: object
      properties:
        job_id:
          $ref: '#/components/schemas/Hash'
        result:
          allOf:
            - $ref: '#/components/schemas/BaseResponse'
            - type: object
              properties:
                fits:
                  type: object
                  additionalProperties:
                    type: object
                    properties:
                      AIC-c:
                        type: number
                      Equilibrium frequencies:
                        type: array
                        items:
                          type: array
                          items:
                            type: number
                      Log Likelihood:
                        type: number
                      Rate Distributions:
                        type: object
                      display order:
                        type: number
                      estimated parameters:
                        type: number
                branch attributes:
                  type: object
                  properties:
                    additionalProperties:
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          Global MG94xREV:
                            type: number
                          Nucleotide GTR:
                            type: number
                          original name:
                            type: string
                    attributes:
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          attribute type:
                            type: string
                          display order:
                            type: integer
                MLE:
                  type: object
                  properties:
                    headers:
                      type: array
                      items:
                        type: array
                        items:
                          type: string
                    content:
                      type: object
                      additionalProperties:
                        type: array
                        items:
                          type: array
                          items:
                            type: number
    NotFoundError:
      type: object
      properties:
        error:
          type: string
          description: Error message
          example: Job not found
        status:
          type: integer
          description: HTTP status code
          example: 404
        job_id:
          allOf:
            - $ref: '#/components/schemas/Hash'
            - description: The job ID that was not found
      required:
        - error
        - status
    BustedRequest:
      type: object
      properties:
        alignment:
          $ref: '#/components/schemas/Hash'
          description: Handle to the alignment
          required: true
        tree:
          $ref: '#/components/schemas/Hash'
          description: Handle to the tree file
          required: true
        srv:
          type: string
          enum:
            - 'Yes'
            - 'No'
            - branch-site
          default: 'Yes'
          description: Include synonymous rate variation in the model
        multiple_hits:
          type: string
          enum:
            - None
            - Double
            - Double+Triple
          default: None
          description: Specify handling of multiple nucleotide substitutions
        genetic_code:
          $ref: '#/components/schemas/GeneticCode'
          default: Universal
        branches:
          type: array
          items:
            type: string
          default: []
          description: >-
            Branches to include in the analysis. If empty, all branches are
            included.
        rates:
          type: integer
          minimum: 1
          maximum: 10
          default: 3
          description: The number omega rate classes to include in the model
        syn_rates:
          type: integer
          minimum: 1
          maximum: 10
          default: 3
          description: The number synonymous rate classes to include in the model
        grid_size:
          type: integer
          minimum: 1
          default: 250
          description: >-
            The number of points in the initial distributional guess for
            likelihood fitting
        starting_points:
          type: integer
          minimum: 1
          default: 1
          description: >-
            The number of initial random guesses to seed rate values
            optimization
        error_sink:
          type: string
          enum:
            - 'Yes'
            - 'No'
          default: 'No'
          description: >-
            An advanced experimental setting; include a rate class to capture
            misalignment artifacts
    BustedResult:
      type: object
      properties:
        job_id:
          $ref: '#/components/schemas/Hash'
        result:
          allOf:
            - $ref: '#/components/schemas/BaseResponse'
            - type: object
              properties:
                background:
                  type: number
                fits:
                  type: object
                  additionalProperties:
                    type: object
                    properties:
                      AIC-c:
                        type: number
                      Log Likelihood:
                        type: number
                      Rate Distributions:
                        type: object
                      display order:
                        type: number
                      estimated parameters:
                        type: number
                branch attributes:
                  type: object
                  properties:
                    additionalProperties:
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          MG94xREV with separate rates for branch sets:
                            type: number
                          Nucleotide GTR:
                            type: number
                          Posterior prob omega class:
                            type: array
                            items:
                              type: array
                              items:
                                type: number
                          Posterior prob omega class by site:
                            type: array
                            items:
                              type: array
                              items:
                                type: number
                          constrained:
                            type: number
                          original name:
                            type: string
                          unconstrained:
                            type: number
                    attributes:
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          attribute type:
                            type: string
                          display order:
                            type: integer
                test results:
                  type: object
                  properties:
                    LRT:
                      type: number
                    p-value:
                      type: number
                substitutions:
                  type: object
                  additionalProperties:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        root:
                          type: string
                      additionalProperties:
                        type: string
                Synonymous site-posteriors:
                  type: array
                  items:
                    type: array
                    items:
                      type: number
                Site Log Likelihood:
                  type: object
                  properties:
                    constrained:
                      type: array
                      items:
                        type: array
                        items:
                          type: number
                    unconstrained:
                      type: array
                      items:
                        type: array
                        items:
                          type: number
                    optimized null:
                      type: array
                      items:
                        type: array
                        items:
                          type: number
                Evidence Ratios:
                  type: object
                  properties:
                    constrained:
                      type: array
                      items:
                        type: array
                        items:
                          type: number
                    optimized null:
                      type: array
                      items:
                        type: array
                        items:
                          type: number
    AbsrelRequest:
      type: object
      properties:
        alignment:
          $ref: '#/components/schemas/Hash'
          description: Handle to the alignment
          required: true
        tree:
          $ref: '#/components/schemas/Hash'
          description: Handle to the tree file
          required: true
        srv:
          type: string
          enum:
            - 'Yes'
            - 'No'
          default: 'Yes'
          description: Include synonymous rate variation in the model
        multiple_hits:
          type: string
          enum:
            - None
            - Double
            - Double+Triple
          default: None
          description: Specify handling of multiple nucleotide substitutions
        genetic_code:
          $ref: '#/components/schemas/GeneticCode'
          default: Universal
        branches:
          type: array
          items:
            type: string
          default: []
          description: >-
            Branches to include in the analysis. If empty, all branches are
            included.
        blb:
          type: number
          minimum: 0
          maximum: 1
          default: 1
          description: Bag of little bootstrap alignment resampling rate
    AbsrelResult:
      type: object
      properties:
        job_id:
          $ref: '#/components/schemas/Hash'
        result:
          allOf:
            - $ref: '#/components/schemas/BaseResponse'
            - type: object
              properties:
                fits:
                  type: object
                  additionalProperties:
                    type: object
                    properties:
                      AIC-c:
                        type: number
                      Log Likelihood:
                        type: number
                      Rate Distributions:
                        type: object
                      display order:
                        type: number
                      estimated parameters:
                        type: number
                      Equilibrium frequencies:
                        type: array
                        items:
                          type: array
                          items:
                            type: number
                test results:
                  type: object
                  properties:
                    P-value threshold:
                      type: number
                    tested:
                      type: integer
                    positive test results:
                      type: integer
                tested:
                  type: object
                  additionalProperties:
                    type: object
                    additionalProperties:
                      type: string
                data partitions:
                  type: object
                  additionalProperties:
                    type: object
                    properties:
                      name:
                        type: string
                      coverage:
                        type: array
                        items:
                          type: array
                          items:
                            type: integer
                branch attributes:
                  type: object
                  properties:
                    additionalProperties:
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          original name:
                            type: string
                          Nucleotide GTR:
                            type: number
                          Baseline MG94xREV:
                            type: number
                          Baseline MG94xREV omega ratio:
                            type: number
                          Rate classes:
                            type: integer
                          Full adaptive model:
                            type: number
                          Rate Distributions:
                            type: array
                            items:
                              type: array
                              items:
                                type: number
                          LRT:
                            type: number
                          Uncorrected P-value:
                            type: number
                          Corrected P-value:
                            type: number
                    attributes:
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          attribute type:
                            type: string
                          display order:
                            type: integer
                timers:
                  type: object
                  additionalProperties:
                    type: object
                    properties:
                      timer:
                        type: integer
                      order:
                        type: integer
    MemeRequest:
      type: object
      properties:
        alignment:
          $ref: '#/components/schemas/Hash'
          description: Handle to the alignment
          required: true
        tree:
          $ref: '#/components/schemas/Hash'
          description: Handle to the tree file
          required: true
        genetic_code:
          $ref: '#/components/schemas/GeneticCode'
          default: Universal
        multiple_hits:
          type: string
          enum:
            - None
            - Double
            - Double+Triple
          default: None
          description: Specify handling of multiple nucleotide substitutions
        site_multihit:
          type: string
          enum:
            - Estimate
            - Global
          default: Estimate
          description: Specify whether to estimate multiple hit rates for each site
        rates:
          type: integer
          default: 2
          description: Number of different categories of non-synonymous rates
        resample:
          type: number
          default: 0
          description: Number of bootstrapping replicates
        impute_states:
          type: string
          enum:
            - 'Yes'
            - 'No'
          default: 'No'
          description: Option to impute likely character states for missing data
    MemeResult:
      type: object
      properties:
        job_id:
          $ref: '#/components/schemas/Hash'
        result:
          allOf:
            - $ref: '#/components/schemas/BaseResponse'
            - type: object
              properties:
                fits:
                  type: object
                  additionalProperties:
                    type: object
                    properties:
                      AIC-c:
                        type: number
                      Equilibrium frequencies:
                        type: array
                        items:
                          type: array
                          items:
                            type: number
                      Log Likelihood:
                        type: number
                      Rate Distributions:
                        type: object
                      display order:
                        type: number
                      estimated parameters:
                        type: number
                branch attributes:
                  type: object
                  properties:
                    additionalProperties:
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          Global MG94xREV:
                            type: number
                          Nucleotide GTR:
                            type: number
                          original name:
                            type: string
                    attributes:
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          attribute type:
                            type: string
                          display order:
                            type: integer
                MLE:
                  type: object
                  properties:
                    headers:
                      type: array
                      items:
                        type: array
                        items:
                          type: string
                    content:
                      type: object
                      additionalProperties:
                        type: array
                        items:
                          type: array
                          items:
                            type: number
    RelaxRequest:
      type: object
      properties:
        alignment:
          $ref: '#/components/schemas/Hash'
          description: Handle to the alignment
          required: true
        tree:
          $ref: '#/components/schemas/Hash'
          description: Handle to the tree file
          required: true
        genetic_code:
          $ref: '#/components/schemas/GeneticCode'
          default: Universal
        test_branches:
          type: array
          description: Branches to be considered as 'Test'
          default: []
          items:
            type: string
        reference_branches:
          type: array
          description: Branches to be considered as 'Reference'
          default: []
          items:
            type: string
        models:
          type: string
          enum:
            - All
            - Minimal
          default: All
          description: >-
            Type of analysis to run (All for descriptive models and RELAX test,
            Minimal for only the RELAX test)
        rates:
          type: integer
          default: 3
          description: Number of omega rate classes
        kill_zero_lengths:
          type: string
          enum:
            - 'Yes'
            - 'No'
          default: 'No'
          description: Specify whether to handle zero-length branches
    RelaxResult:
      type: object
      properties:
        job_id:
          $ref: '#/components/schemas/Hash'
        result:
          allOf:
            - $ref: '#/components/schemas/BaseResponse'
            - type: object
              properties:
                fits:
                  type: object
                  properties:
                    Nucleotide GTR:
                      type: object
                      properties:
                        Log Likelihood:
                          type: number
                        estimated parameters:
                          type: integer
                        AIC-c:
                          type: number
                        Equilibrium frequencies:
                          type: array
                          items:
                            type: array
                            items:
                              type: number
                        Rate Distributions:
                          type: object
                          additionalProperties:
                            type: number
                        display order:
                          type: integer
                    MG94xREV with separate rates for branch sets:
                      type: object
                      properties:
                        Log Likelihood:
                          type: number
                        estimated parameters:
                          type: integer
                        AIC-c:
                          type: number
                        Equilibrium frequencies:
                          type: array
                          items:
                            type: array
                            items:
                              type: number
                        Rate Distributions:
                          type: object
                          additionalProperties:
                            type: array
                            items:
                              type: array
                              items:
                                type: number
                        display order:
                          type: integer
                    General descriptive:
                      type: object
                      properties:
                        Log Likelihood:
                          type: number
                        estimated parameters:
                          type: integer
                        AIC-c:
                          type: number
                        Rate Distributions:
                          type: object
                          properties:
                            Shared:
                              type: object
                              additionalProperties:
                                type: object
                                properties:
                                  omega:
                                    type: number
                                  proportion:
                                    type: number
                        display order:
                          type: integer
                    RELAX alternative:
                      type: object
                      properties:
                        Log Likelihood:
                          type: number
                        estimated parameters:
                          type: integer
                        AIC-c:
                          type: number
                        Rate Distributions:
                          type: object
                          properties:
                            Test:
                              type: object
                              additionalProperties:
                                type: object
                                properties:
                                  omega:
                                    type: number
                                  proportion:
                                    type: number
                            Reference:
                              type: object
                              additionalProperties:
                                type: object
                                properties:
                                  omega:
                                    type: number
                                  proportion:
                                    type: number
                        display order:
                          type: integer
                    RELAX null:
                      type: object
                      properties:
                        Log Likelihood:
                          type: number
                        estimated parameters:
                          type: integer
                        AIC-c:
                          type: number
                        Rate Distributions:
                          type: object
                          properties:
                            Test:
                              type: object
                              additionalProperties:
                                type: object
                                properties:
                                  omega:
                                    type: number
                                  proportion:
                                    type: number
                            Reference:
                              type: object
                              additionalProperties:
                                type: object
                                properties:
                                  omega:
                                    type: number
                                  proportion:
                                    type: number
                        display order:
                          type: integer
                test results:
                  type: object
                  properties:
                    p-value:
                      type: number
                    relaxation or intensification parameter:
                      type: number
                    test:
                      type: string
                    alternative:
                      type: string
                    'null':
                      type: string
                    background:
                      type: string
                    log likelihood ratio:
                      type: number
                    degrees of freedom:
                      type: integer
                    branch attributes:
                      type: object
                      additionalProperties:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            original name:
                              type: string
                            Nucleotide GTR:
                              type: number
                            MG94xREV with separate rates for branch sets:
                              type: number
                            General descriptive:
                              type: number
                            k (general descriptive):
                              type: number
                            RELAX null:
                              type: number
                            RELAX alternative:
                              type: number
                            k (RELAX alternative):
                              type: number
                            tested:
                              type: boolean
    GardRequest:
      type: object
      properties:
        alignment:
          $ref: '#/components/schemas/Hash'
          description: Handle to the alignment
          required: true
        genetic_code:
          $ref: '#/components/schemas/GeneticCode'
          default: Universal
        data_type:
          type: string
          enum:
            - Nucleotide
            - Protein
          default: Nucleotide
          description: The type of data being analyzed
        run_mode:
          type: string
          enum:
            - Normal
            - Faster
          default: Normal
          description: The optimization mode
        site_to_site_variation:
          type: string
          enum:
            - None
            - General Discrete
            - Beta-Gamma
          default: None
          description: Specifies the model for rate variation among sites
        rate_classes:
          type: integer
          default: 2
          description: The number of discrete rate classes for rate variation
        model:
          type: string
          default: JTT
          description: The substitution model to use
    GardResult:
      type: object
      properties:
        job_id:
          $ref: '#/components/schemas/Hash'
        result:
          allOf:
            - $ref: '#/components/schemas/BaseResponse'
            - type: object
              properties:
                baselineScore:
                  type: number
                  description: Baseline score for the analysis
                potentialBreakpoints:
                  type: integer
                  description: Number of potential breakpoints analyzed
                singleTreeAICc:
                  type: number
                  description: AICc score for the single tree model
                timeElapsed:
                  type: integer
                  description: Time elapsed for the analysis in seconds
                totalModelCount:
                  type: integer
                  description: Total number of models evaluated
                breakpointData:
                  type: object
                  description: Data for each segment between breakpoints
                  additionalProperties:
                    type: object
                    properties:
                      bps:
                        type: array
                        items:
                          type: array
                          items:
                            type: integer
                        description: Breakpoint positions
                      tree:
                        type: string
                        description: Newick tree for this segment
                improvements:
                  type: object
                  description: Improvement metrics for each breakpoint
                  additionalProperties:
                    type: object
                    properties:
                      breakpoints:
                        type: array
                        items:
                          type: array
                          items:
                            type: integer
                        description: Breakpoint positions
                      deltaAICc:
                        type: number
                        description: Change in AICc score
                siteBreakPointSupport:
                  type: object
                  description: Support values for potential breakpoints at each site
                  additionalProperties:
                    type: number
                trees:
                  type: object
                  description: Tree data
                  additionalProperties:
                    type: object
    BgmRequest:
      type: object
      properties:
        alignment:
          $ref: '#/components/schemas/Hash'
          description: Handle to the alignment
          required: true
        tree:
          $ref: '#/components/schemas/Hash'
          description: Handle to the tree file
          required: true
        branches:
          type: string
          default: All
          description: Specify branches to test
        genetic_code:
          $ref: '#/components/schemas/GeneticCode'
          default: Universal
        data_type:
          type: string
          enum:
            - nucleotide
            - amino-acid
            - codon
          default: codon
          description: The type of data being analyzed
        steps:
          type: integer
          default: 100000
          description: Number of MCMC steps to sample
        burn_in:
          type: integer
          default: 10000
          description: Number of MCMC steps to discard as burn-in
        samples:
          type: integer
          default: 100
          description: Number of samples to extract from the chain
        max_parents:
          type: integer
          default: 1
          description: Maximum number of parents allowed per node
        min_subs:
          type: integer
          default: 1
          description: Minimum number of substitutions per site to include in the analysis
    BgmResult:
      type: object
      properties:
        job_id:
          $ref: '#/components/schemas/Hash'
        result:
          allOf:
            - $ref: '#/components/schemas/BaseResponse'
            - type: object
              properties:
                fits:
                  type: object
                  description: Model fit information
                  additionalProperties:
                    type: object
                    properties:
                      Log Likelihood:
                        type: number
                      estimated parameters:
                        type: integer
                      AIC-c:
                        type: number
                      Rate Distributions:
                        type: object
                        nullable: true
                      display order:
                        type: integer
                MLE:
                  type: object
                  description: Maximum likelihood estimates
                  properties:
                    headers:
                      type: array
                      items:
                        type: array
                        items:
                          type: string
                      description: Column headers for the content array
                    content:
                      type: array
                      items:
                        type: array
                        items:
                          type: number
                      description: Site pair data with correlation values
                branch attributes:
                  type: object
                  description: Branch-specific attributes
                  additionalProperties:
                    type: object
                    additionalProperties:
                      type: object
                      additionalProperties:
                        type: number
    ContrastFelRequest:
      type: object
      required:
        - alignment
        - tree
        - branch_sets
      properties:
        alignment:
          type: string
          description: 'Path to the in-frame codon alignment file (e.g., .fasta, .phy)'
        tree:
          type: string
          description: Path to the phylogenetic tree file
        branch_sets:
          type: array
          description: >-
            Array of branch sets to be used for comparison (e.g., "Source" and
            "Test" groups)
          items:
            type: string
        genetic_code:
          type: string
          description: Which genetic code should be used
          default: Universal
        srv:
          type: string
          description: Include synonymous rate variation in the model ("Yes" or "No")
          default: 'Yes'
        permutations:
          type: string
          description: Perform permutation significance tests ("Yes" or "No")
          default: 'Yes'
        p_value:
          type: number
          description: Significance value for site tests
          default: 0.05
        q_value:
          type: number
          description: Significance value for False Discovery Rate reporting
          default: 0.2
    ContrastFelResult:
      type: object
      properties:
        job_id:
          $ref: '#/components/schemas/Hash'
        result:
          type: object
          properties:
            input:
              type: object
              properties:
                file_name:
                  type: string
                  description: Name of the input file
                number_of_sequences:
                  type: integer
                  description: Number of sequences in the alignment
                number_of_sites:
                  type: integer
                  description: Number of sites in the alignment
                partition_count:
                  type: integer
                  description: Number of partitions in the analysis
            analysis:
              type: object
              properties:
                authors:
                  type: string
                  description: Authors of the analysis method
                citation:
                  type: string
                  description: Citation for the analysis method
                version:
                  type: string
                  description: Version of the analysis method
                info:
                  type: string
                  description: Information about the analysis method
            tested:
              type: object
              description: >-
                Mapping of branch names to their test groups (e.g., "TREATED",
                "NAIVE", "background")
              additionalProperties:
                type: string
            MLE:
              type: object
              properties:
                headers:
                  type: array
                  description: Headers describing the columns in the content array
                  items:
                    type: array
                    items:
                      type: string
                content:
                  type: object
                  description: Site-specific results with statistical values
                  additionalProperties:
                    type: array
                    items:
                      type: array
                      description: Array of values for each site
                      items:
                        type: number
            branch_attributes:
              type: object
              description: Attributes for each branch in the phylogenetic tree
              additionalProperties:
                type: object
            fits:
              type: object
              description: Model fit statistics
              additionalProperties:
                type: object
    FubarRequest:
      type: object
      required:
        - alignment
        - tree
      properties:
        alignment:
          type: string
          description: 'Path to the in-frame codon alignment file (e.g., .fasta, .nex)'
        tree:
          type: string
          description: Path to the phylogenetic tree file
        genetic_code:
          type: string
          description: Which genetic code should be used
          default: Universal
        grid_points:
          type: integer
          description: >-
            Number of grid points for the Bayesian analysis (must be between 5
            and 50)
          default: 20
          minimum: 5
          maximum: 50
        concentration_parameter:
          type: number
          description: >-
            Concentration parameter for the Dirichlet prior in the Bayesian
            estimation
          default: 0.5
          minimum: 0.001
          maximum: 1
    FubarResult:
      type: object
      properties:
        job_id:
          $ref: '#/components/schemas/Hash'
        result:
          type: object
          properties:
            analysis:
              type: object
              properties:
                info:
                  type: string
                  description: Information about the FUBAR analysis
                version:
                  type: string
                  description: Version of the FUBAR method
                citation:
                  type: string
                  description: Citation for the FUBAR method
                authors:
                  type: string
                  description: Authors of the FUBAR method
                contact:
                  type: string
                  description: Contact information for the authors
                requirements:
                  type: string
                  description: Requirements for running FUBAR
            input:
              type: object
              properties:
                file_name:
                  type: string
                  description: Name of the input file
                number_of_sequences:
                  type: integer
                  description: Number of sequences in the alignment
                number_of_sites:
                  type: integer
                  description: Number of sites in the alignment
                partition_count:
                  type: integer
                  description: Number of partitions in the analysis
                trees:
                  type: object
                  description: Trees used in the analysis
                  additionalProperties:
                    type: string
            fits:
              type: object
              description: Model fit statistics
              additionalProperties:
                type: object
            timers:
              type: object
              description: Timing information for different stages of the analysis
              additionalProperties:
                type: object
            MLE:
              type: object
              properties:
                headers:
                  type: array
                  description: Headers describing the columns in the content array
                  items:
                    type: array
                    items:
                      type: string
                content:
                  type: object
                  description: Site-specific results with statistical values
                  additionalProperties:
                    type: array
                    items:
                      type: array
                      description: Array of values for each site
                      items:
                        type: number
    MultihitRequest:
      type: object
      description: Request parameters for MULTI-HIT analysis
      required:
        - alignment_file
        - genetic_code
      properties:
        alignment_file:
          type: string
          description: 'Path to the alignment file (e.g., .fasta, .phy)'
        genetic_code:
          type: string
          description: The genetic code to use for the analysis
          default: Universal
        triple_islands:
          type: string
          enum:
            - 'Yes'
            - 'No'
          description: Toggle for accounting synonymous triple-hit substitutions
          default: 'No'
        rate_classes:
          type: integer
          description: Number of rate classes to use
          minimum: 1
          maximum: 10
          default: 3
    MultihitResult:
      type: object
      description: Results from a MULTI-HIT analysis
      properties:
        job_id:
          $ref: '#/components/schemas/Hash'
        result:
          type: object
          properties:
            evidence_ratios:
              type: object
              description: Evidence ratios for different substitution types
              properties:
                three_hit:
                  type: array
                  description: Evidence ratios for three-hit substitutions
                  items:
                    type: array
                    items:
                      type: number
                two_hit:
                  type: array
                  description: Evidence ratios for two-hit substitutions
                  items:
                    type: array
                    items:
                      type: number
                three_hit_islands_vs_2_hit:
                  type: array
                  description: >-
                    Evidence ratios comparing three-hit islands vs two-hit
                    substitutions
                  items:
                    type: array
                    items:
                      type: number
            site_substitutions:
              type: object
              description: Detailed site substitution mappings
              additionalProperties:
                type: object
                additionalProperties:
                  type: object
            analysis:
              type: object
              description: Metadata about the analysis
              properties:
                authors:
                  type: string
                contact:
                  type: string
                info:
                  type: string
                requirements:
                  type: string
                version:
                  type: string
            fits:
              type: object
              description: Model fitting information
              properties:
                MG94_with_double_and_triple_instantaneous_substitutions:
                  type: object
                  properties:
                    AIC_c:
                      type: number
                    Log_Likelihood:
                      type: number
                    Rate_Distributions:
                      type: object
                    display_order:
                      type: integer
                    estimated_parameters:
                      type: integer
                MG94_with_double_and_triple_instantaneous_substitutions_only_synonymous_islands:
                  type: object
                  properties:
                    AIC_c:
                      type: number
                    Log_Likelihood:
                      type: number
                    Rate_Distributions:
                      type: object
                    display_order:
                      type: integer
                    estimated_parameters:
                      type: integer
                MG94_with_double_instantaneous_substitutions:
                  type: object
                  properties:
                    AIC_c:
                      type: number
                    Log_Likelihood:
                      type: number
                    Rate_Distributions:
                      type: object
                    display_order:
                      type: integer
                    estimated_parameters:
                      type: integer
                Nucleotide_GTR:
                  type: object
                  properties:
                    AIC_c:
                      type: number
                    Log_Likelihood:
                      type: number
                    Rate_Distributions:
                      type: object
                    display_order:
                      type: integer
                    estimated_parameters:
                      type: integer
                Standard_MG94:
                  type: object
                  properties:
                    AIC_c:
                      type: number
                    Log_Likelihood:
                      type: number
                    Rate_Distributions:
                      type: object
                    display_order:
                      type: integer
                    estimated_parameters:
                      type: integer
            test_results:
              type: object
              description: Statistical test results comparing different models
              properties:
                Double_hit_vs_single_hit:
                  type: object
                  properties:
                    LRT:
                      type: number
                    p_value:
                      type: number
                Triple_hit_vs_Triple_hit_island:
                  type: object
                  properties:
                    LRT:
                      type: number
                    p_value:
                      type: number
                Triple_hit_vs_double_hit:
                  type: object
                  properties:
                    LRT:
                      type: number
                    p_value:
                      type: number
                Triple_hit_vs_single_hit:
                  type: object
                  properties:
                    LRT:
                      type: number
                    p_value:
                      type: number
                Triple_hit_island_vs_double_hit:
                  type: object
                  properties:
                    LRT:
                      type: number
                    p_value:
                      type: number
    SlacRequest:
      type: object
      description: >-
        Request parameters for SLAC (Single Likelihood Ancestor Counting)
        analysis
      required:
        - alignment_file
        - genetic_code
      properties:
        alignment_file:
          type: string
          description: 'Path to the alignment file (e.g., .fasta, .nex, .phy)'
        genetic_code:
          type: string
          description: The genetic code to use for the analysis
          default: Universal
        branches:
          type: string
          description: Specify branches to test
          default: All
        samples:
          type: integer
          description: Number of samples for ancestral reconstruction uncertainty
          default: 100
          minimum: 1
        pvalue:
          type: number
          description: Threshold for statistical significance
          default: 0.1
          minimum: 0
          maximum: 1
    SlacResult:
      type: object
      description: Results from a SLAC (Single Likelihood Ancestor Counting) analysis
      properties:
        job_id:
          $ref: '#/components/schemas/Hash'
        result:
          type: object
          properties:
            analysis:
              type: object
              description: Metadata about the analysis
              properties:
                info:
                  type: string
                  description: Description of the SLAC method
                version:
                  type: string
                  description: Version of the SLAC method
                citation:
                  type: string
                  description: Citation for the SLAC method
                authors:
                  type: string
                  description: Authors of the SLAC method
                contact:
                  type: string
                  description: Contact information for the SLAC method
                requirements:
                  type: string
                  description: Requirements for the SLAC method
            fits:
              type: object
              description: Model fitting information
              properties:
                Nucleotide_GTR:
                  type: object
                  properties:
                    Log_Likelihood:
                      type: number
                    estimated_parameters:
                      type: integer
                    AIC_c:
                      type: number
                    Equilibrium_frequencies:
                      type: array
                      items:
                        type: array
                        items:
                          type: number
                    Rate_Distributions:
                      type: object
                      additionalProperties:
                        type: number
                    display_order:
                      type: integer
                Global_MG94xREV:
                  type: object
                  properties:
                    Log_Likelihood:
                      type: number
                    estimated_parameters:
                      type: integer
                    AIC_c:
                      type: number
                    Equilibrium_frequencies:
                      type: array
                      items:
                        type: array
                        items:
                          type: number
                    Rate_Distributions:
                      type: object
                      properties:
                        distribution:
                          type: array
                          items:
                            type: array
                            items:
                              type: number
                    display_order:
                      type: integer
            timers:
              type: object
              description: Timing information for the analysis
              properties:
                Total_time:
                  type: object
                  properties:
                    timer:
                      type: integer
                    order:
                      type: integer
                Model_fitting:
                  type: object
                  properties:
                    timer:
                      type: integer
                    order:
                      type: integer
                Primary_SLAC_analysis:
                  type: object
                  properties:
                    timer:
                      type: integer
                    order:
                      type: integer
                Ancestor_sampling_analysis:
                  type: object
                  properties:
                    timer:
                      type: integer
                    order:
                      type: integer
            tested:
              type: object
              description: Branches tested in the analysis
              additionalProperties:
                type: object
                additionalProperties:
                  type: string
            input:
              type: object
              description: Input information for the analysis
              properties:
                file_name:
                  type: string
                number_of_sequences:
                  type: integer
                number_of_sites:
                  type: integer
                partition_count:
                  type: integer
                trees:
                  type: object
                  additionalProperties:
                    type: string
            data_partitions:
              type: object
              description: Data partitions used in the analysis
              additionalProperties:
                type: object
                properties:
                  name:
                    type: string
                  coverage:
                    type: array
                    items:
[...]
